{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}访客{% endif %}!</h1>
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}

            {{ wtf.quick_form(form) }}
        {% endif %}

    </div>
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有人</a></li>
            {% if current_user.is_authenticated %}
                <li{% if show_followed %} class="active"{% endif %}><a
                        href="{{ url_for('.show_followed') }}">我关注的</a></li>
            {% endif %}
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    排序方式 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('.order_by_comments') }}">按评论数量排序</a></li>
                    <li><a href="{{ url_for('.order_by_time') }}">按发布时间排序</a></li>
                </ul>
            </div>
        </ul>
        {% include '_posts.html' %}
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'.index') }}
        </div>
    {% endif %}
    <div class="test">
        <p>当前在线 {{ curr_users }} 历史最高{{ greater_users }} </p>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}